.btn-container_btn {
    cursor: pointer;
    line-height: 1.5rem;
    display: inline-block;
    border-radius: 4px;
      padding: 16px 10px;
    /*box-shadow: */
}

.padge-dscription__btn-container{
    text-align: center;
  
}
.btn-container_btn--gallery{
    background-color: #5CB85C;
    color: white;
    font-weight: bold;
}
.btn-container_btn--more{
    background-color: #D9534F;
    color: white;    
    font-weight: bold;
}