/*.home__padge-dscription{    
}*/

.padge-dscription_title {
    margin-top: 5px;
    text-align: center;
    font-size: 2.5em;
    color: #373A3C;   /*???*/
}
.padge-dscription_content{    
    color: #555555;
}
.home__padge-dscription{
    display: block;
    margin: 0 auto;
    max-width: 600px;
    font-size: 1.5em;
}
.padge-dscription {
    padding-top: 8%;
    padding-bottom: 8%;
}
